<!-- <p>activate-user works!</p> -->
<table border="1" align="center" width=100%>
    <!-- <tr> -->
        <!-- <td> -->
            <p id="p01">ACTIVATE USER'S ACCOUNT<p>
            <br><br>
        <!-- </td> -->
    <!-- </tr>
    <tr> -->
        <p id="p01">
            ACTIVATE USER:-
            <input type="radio" name="activate" id="activate">YES
            <input type="radio" name="activate" id="activate">NO
            <br><br>
            <button>SUBMIT</button>
            <br><br>
        </p>
    <!-- </tr> -->
</table>