<!-- <p>user-details-for-admin works!</p> -->
<table border="1" align="center" width=100%>
    <!-- <tr>
        <td> -->
            <p id="p01">ADMIN PAGE<p>
            <br><br><br><br>
        <!-- </td>
    </tr>
    <tr>
        <td> -->
            <table border="1" align="center" width=80%>
                <!-- <caption>USER DETAILS DATABASE</caption> -->
                <thead>
                    <tr>
                        <td colspan="12" align="center">USER DETAILS DATABASE</td>
                    </tr>
                    <tr>
                        
                        <th>NAME</th>
                        <th>UNAME</th>
                        <th>DATE OF BIRTH</th>
                        <th>EMAIL ID</th>
                        <th>PHONE NO</th>
                        <th>ADDRESS</th>
                        <th>CARD TYPE</th>
                        <th>BANK</th>
                        <th>SAVING ACCOUNT NO</th>
                        <th>IFSC CODE</th>
                        <th>EDIT</th>
                        <th>DELETE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <br><br><br><br>
        <!-- </td>
    </tr> -->
</table>