

<ul>
    <li ><a [routerLink]="['/dashboard']">Dashboard</a></li>
    <li><a [routerLink]="['/login']">UserLogin</a></li>
    <li><a [routerLink]="['/adminLogin']">AdminLogin</a></li>
    <li><a [routerLink]="['/registerCustomer']"> Register</a></li>
    <li><a [routerLink]="['/productlist']" >Products</a></li>
    <li><a [routerLink]="['/home']">Home</a></li>

    
  <a [routerLink]="['/login']"><button  class="btn btn-primary" style="float: right; background-color:darkcyan;">Logout</button>
  </a>
</ul>
<router-outlet></router-outlet>



