<mat-toolbar color="primary" class="mat-elevation-z6">
 <span><span class="material-icons">
  shop
  </span> Shop Happiness</span>

 <div class="spacer"></div>
 <a mat-raised-button color="primary" mat-button routerLink='home'>Home</a>
 <a mat-raised-button color="primary" mat-button routerLink='faq'>FAQ</a>
 <a mat-raised-button color="primary" mat-button routerLink='login'>Sign In</a>
 <a mat-raised-button color="accent" routerLink='registerCustomer'>Sign Up</a>
</mat-toolbar>


<router-outlet></router-outlet>



