<body>
    <div>
        <ul>
            <li><h5>No Cost EMI is available for tenure options of 3 / 6 / 9 / 12 months.</h5></li>
            <br>
            <li><h5>The No Cost EMI payment option is available only for purchases made using debit cards.</h5></li>
            <br>
            <li><h5>Customers opting for No Cost EMI will receive an upfront discount, at the time of purchase, equivalent to the interest to be charged by the bank, effectively giving them the benefit of a No-Cost EMI. The EMI payable every month will include the interest component payable on the discounted total selling price of the purchased No Cost EMI-eligible products.</h5></li>
            <br>
            <li><h5>You may be charged service tax or other applicable taxes by the respective bank for these transactions.</h5></li>
            <br>
            <li><h5>You shall be bound by the terms and conditions of your debit card as provided by its bank for availing of the EMI facility (“Finance Agreement”).</h5></li>
            <br>
            <li><h5>You will be responsible to consult your bank or card issuer on the mechanics of cancellations, refunds or pre-closures affecting the terms of the EMI offered, and the details of the interest or cancellation charges that may be levied for the same and to be aware of all relevant terms and conditions in this regard.</h5></li>
            <br>
            <li><h5>Any disputes regarding the EMI scheme must be addressed in writing, by you directly with the bank and we will not be held responsible in this regard.</h5></li>
            <br>
            <li><h5>Local sales tax, GST and all other applicable taxes and levies will apply to all orders and shall be payable by you.</h5></li>
        </ul> 
    </div>
    <div>
        <form>
            <a [routerLink]="['/home']"><button href="#" class="btn btn-primary">I Agree</button>
            </a>
        </form>
    </div>
</body>