
<header>
    <p>HI,USERNAME</p>
    <button href="#" class="btn btn-primary">Logout</button>
</header>
<style>
    
    #container{
        text-align: center;
    }
    #text{
        text-align: center;
    }
    #u{
        text-align: center;
        text-decoration: underline;
    }
</style>

<table>
    <tr>
        <td>
    <div>
        <img class="p1" src='assets/image1.jpg'>
        <p>PRODUCT NAME:Iphone</p>
        <p>PRODUCT DETAILS:iPhone from Apple,colour SpaceGray,128gb space.</p>
        <p>COST:58,999</p>
    </div>
        </td>
    </tr>
</table>

<div class="e">
    <p>EMI PERIOD</p>
    <select>
        <option value="3MONTHS">3 MONTHS</option>
        <option value="6MONTHS">6 MONTHS</option>
        <option value="9MONTHS">9 MONTHS</option>
        <option value="12MONTHS">12 MONTHS</option>
    </select>
</div>
<p id="text">EMI STARTING 6000pm</p>
<div id="container">
    <button href="#" class="btn btn-success">PAY NOW</button>
</div>

<p id="u">Terms and Conditions</p>