
<header>
    <p>HI,USERNAME</p>
    <button href="#" class="btn btn-primary">Logout</button>
</header>
<style>
    
    #container{
        text-align: center;
    }
    #text{
        text-align: center;
    }
    #u{
        text-align: center;
        text-decoration: underline;
    }
</style>

<table>
    <tr>
        <td>
    <div class="e">
        <img class="p1" src='{{Product.Product_Image}}'>
        <p>PRODUCT NAME:{{Product.Product_Name}}</p>
        <p>PRODUCT DETAILS:{{Product.Product_Description}}</p>
        <p>COST:{{Product.Product_Cost}}</p>
    </div>
        </td>
    </tr>
</table>

<div class="e">
    <p>EMI PERIOD</p>
    <select [(ngModel)]="emiperiod">
        <option value=3>3 MONTHS</option>
        <option value=6>6 MONTHS</option>
        <option value=9>9 MONTHS</option>
        <option value=12>12 MONTHS</option>
    </select>
</div>
<p id="text">EMI STARTING{{emiPerMonth}} pm</p>
<div id="container">
    <button [routerLink]="['payment/',emiperiod]" class="btn btn-primary">PAY NOW</button>

<p id="u">Terms and Conditions</p>