header {
    background-color:white;
    padding: 30px;
    text-align: right;
    border: black;
}
table{
    color: black;
    background-color: white;
    margin: auto;
}

.box{
    color: black;
    background-color: white;
    width: 97%;
    height: 30%;
    border-radius: 5px;
    margin:20px ;
    margin-top: 45px;
}
.p1{
    height: 200px;
    width: 200;
    float: left;
}
#text{
    color:black;
}

#container{
    text-align: center;
}
#text{
    text-align: center;
}
#u{
    text-align: center;
    text-decoration: underline;
}
#u{
    text-align: center;
    color:blue;
}

.e{
    text-align: center;
    color:black;
}
#btntwo{
    float: left;
}
#result{
    text-align: center;
}