
header {
    background-color:white;
    padding: 30px;
    text-align: right;
    border: black;
}
table{
    border:1px solid black;
}
.p1{
    height: 200px;
    width: 200;
    float: left;
}
#text{
    color:white;
}

#container{
    text-align: center;
}
#text{
    text-align: center;
}
#u{
    text-align: center;
    text-decoration: underline;
}
#u{
    color: white;
}

.e{
    text-align: center;
    color: white;
}
#btntwo{
    float: left;
}
