

<body style="background-color:  rgb(13, 55, 56);">


<table>
    <tr>
        <td>
    <div class="e">
        <img class="p1" src='{{Product.Product_Image}}'>
        <p>PRODUCT NAME:{{Product.Product_Name}}</p>
        <p>PRODUCT DETAILS:{{Product.Product_Description}}</p>
        <p>COST:{{Product.Product_Cost}}</p>
    </div>
        </td>
    </tr>
</table>

<div class="e">
    <p>EMI PERIOD</p>
    <select [(ngModel)]="emiperiod">
        <option value=3>3 MONTHS</option>
        <option value=6>6 MONTHS</option>
        <option value=9>9 MONTHS</option>
        <option value=12>12 MONTHS</option>
    </select>
</div>
<p id="text">EMI STARTING  pm</p>
<div id="container">
    <button (click)="checkBalance()" class="btn btn-primary">BUY NOW</button>
</div>
<p id="u">Terms and Conditions</p>

</body>