<body background="assets/bg1.jpg" >  
    
    <div id="header">DASHBOARD</div>
    
    <div id="box" style="background-color: white;color: black;">
        <span style="float: right;color:red;">LFI</span><br>
        <span>Card Number:{{card.Card_Number}}</span><br>
        <span>Name:{{customer.Customer_Name}}</span><br>
        <span>VAlid till:{{card.Valid_till}}</span><br>
        <span>CARD TYPE:{{card.Card_Type}}</span><br>
    </div>
    <div id="gr" style="color: white;">
        <span>{{card.Status}}</span>
    </div>
    <br>
    
    <span>TOTAL CREDIT:{{card.Total_credit}}</span><br>
    <span>CREDIT USED:{{card.credit_used}}</span><br>
    <!-- <span>REMAINING CREDIT:{{card.Total_credit}}-{{card.credit_used}}</span> -->
    <br><br>
    <div id="header"><b>PRODUCTS PURCHASED</b></div>
    <span> NAME:</span>   <br>    <span>AMOUNT:</span>
    <br>
    <span>PAID:</span>
    <br>
    <span>BALANCE:</span>
    <br><br><br>
    <div style="text-align: center;">
    <span ><b>RECENT TRANSACTIONS</b></span>
    <br><br>
    <table class="tran">
        <tr>
            <td>PRODUCT</td>
            <td>DATE</td>
            <td>AMOUNT PAID</td>
        </tr>
        <tr *ngFor="let t of tranList">
            <td>{{t.Product_Name}}</td>
            <td>{{t.Transaction_Date}}</td>
            <td>{{t.Transaction_Amount}}</td>
        </tr>
    </table>
    </div>
    <a (click)="Navigate(card.Card_Id)" class="btn btn-success">Show Products</a>
    </body>