<div id="header">DASHBOARD</div>

<div id="box">
    <span style="float: right;color:red;">LFI</span><br>
    <span>Card Number:</span><br>
    <span>Name:</span><br>
    <span>VAlid till:</span><br>
    <span>CARD TYPE:</span><br>
</div>
<div id="gr">
    <span>ACTIVATED</span>
</div>
<br><br>
<span>TOTAL CREDIT:</span><br>
<span>CREDIT USED:</span><br>
<span>REMAINING CREDIT:</span>
<br><br>
<div id="header">PRODUCTS PURCHASED</div>
<span> NAME:</span>       <span>AMOUNT:</span>
<br>
<span>PAID:</span>
<br>
<span>BALANCE:</span>
<br><br>
<span>RECENT TRANSACTIONS</span>
<br><br>
<table class="tran">
    <tr>
        <td>PRODUCT</td>
        <td>DATE</td>
        <td>AMOUNT PAID</td>
    </tr>
    <tr>
        <td>abc</td>
        <td>abc</td>
        <td>abc</td>
    </tr>
</table>


