#header{
    text-align: center;
    border: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    text-decoration-style:solid;
    margin-top: 20px;
}
#box{
    margin: auto;
    width: 300px;
    padding: 10px;
    border-color: black;
    border-style: solid;
    font-size: large;
    columns: black;
}

span{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#gr{
    margin: auto;
    background-color: rgb(40, 138, 40);
    padding: 5px;
    width: 310px;
    border-color: black;
    border-style: solid;
    text-align: center;
    font-size: large;
    border-top: none;
}

table, td, th {
    border: 2px solid white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px;
    text-align: center;
  }
  
  table {
    border-collapse: collapse;
    margin: auto;
    width: 800px;
    bottom: 10px;
  }
  body{
      color: white;
      background-size: cover;
  }