<body style="background-color:  rgb(13, 55, 56);" >  
    
    <div id="header">DASHBOARD</div>
    
    <div id="box" style="background-color: white;color: black;">
        <span style="float: right;color:red;">LFI</span><br>
        <span>Card Number:{{card.Card_Number}}</span><br>
        <span>Name:{{customer.Customer_Name}}</span><br>
        <span>VAlid till:{{card.Valid_till}}</span><br>
        <span>CARD TYPE:{{card.Card_Type}}</span><br>
    </div>
    <div id="gr" style="color: white;">
        <span>{{card.Status}}</span>
    </div>
    <br>
    
    <span>TOTAL CREDIT:{{card.Total_credit}}</span><br>
    <span>CREDIT USED:{{card.credit_used}}</span><br>
    <!-- <span>REMAINING CREDIT:{{card.Total_credit}}-{{card.credit_used}}</span> -->
    <br><br>
    <div id="header"><b>PRODUCTS PURCHASED</b></div>
    <table *ngFor="let e of emiList ">
        <!-- <tr>
            <td colspan="2"><img class="p1" src='{{e.Product_Image}}'></td>
        </tr> -->
        <tr>
            <th>Name:</th>
            <td>{{e.prodName}}</td>
        </tr>
        <tr>
            <th>Amount:</th>
            <td>{{e.Product_cost}}</td>
        </tr>
        <tr>
            <th>Paid:</th>
            <td>{{e.Total_Amount_Paid}}</td>
        </tr>
        <tr>
            <th>EMI Due Date:</th>
            <td>{{e.EMI_Due_Date}}</td>
        </tr>
        <tr>
            <td colspan="2"> <button [disabled]=checkValidity(e.EMI_Due_Date) [routerLink]="['emiPayment/',e.EMI_Id,e.prodName,e.emiPerMonth,customer.Customer_Id]" class="btn btn-primary">PAY EMI</button></td>
        </tr>
        
    </table>

    <!-- <span> NAME:</span>   <br>    <span>AMOUNT:</span>
    <br>
    <span>PAID:</span>
    <br>
    <span>BALANCE:</span> -->
    <br><br><br>
    <div style="text-align: center;">
    <span ><b>RECENT TRANSACTIONS</b></span>
    <br><br>
    <table class="tran">
        <tr>
            <td>PRODUCT</td>
            <td>DATE</td>
            <td>AMOUNT PAID</td>
        </tr>
        <tr *ngFor="let t of tranList">
            <td>{{t.Product_Name}}</td>
            <td>{{t.Transaction_Date}}</td>
            <td>{{t.Transaction_Amount}}</td>
        </tr>
    </table>
    </div>
    <a (click)="Navigate(card.Card_Id,customer.Customer_Id)" class="btn btn-success">Show Products</a>
    </body>