<header>
    <p>HI,USERNAME</p>
    <button>Logout</button>
</header>
<table>
<div class="down">
    <tr>
        <td>
      <div>
        <img class="p1" src='assets/image1.jpg'>
        <p>PRODUCT NAME:Iphone</p>
        <p>PRODUCT DETAILS:iPhone from Apple,colour SpaceGray,128gb space.</p>
        <p>COST:58,999</p>
        <button>BUY NOW</button>
      </div>
       </td>
    </tr>

    <tr>
      <td>
        <div>
            <img class="p2" src='assets/image2.jpg'>
            <p>PRODUCT NAME:Mac BOOK</p>
            <p>PRODUCT DETAILS:MAc Book from Apple, colour black,8gb RAM.</p>
            <p>COST:1,58,999</p>
            <button>BUY NOW</button>
        </div>
      </td>
    </tr>

    <tr>
     <td>
        <div>
        <img class="p3" src='assets/image3.jpg'>
        <p>PRODUCT NAME:Air Pods Pro</p>
        <p>PRODUCT DETAILS:Air Pods Book from Apple,clour white.</p>
        <p>COST:39,999</p>
        <button>BUY NOW</button>
        </div>
     </td>
    </tr>
</div>
</table>
