
<style>
#searchbar{
   tab-size: 100px;
}
</style>
<body  style="background-color:  rgb(13, 55, 56);">
<div class="container">
<form class="searchbar"> <input type="search" placeholder="Search here" name="search" class="searchbar-input" onkeyup="buttonUp();" required> <input type="submit" class="searchbar-submit" value="GO"> <span class="searchbar-icon"><i class="fa fa-search" aria-hidden="true"></i></span> </form>
</div>


<table border="1">
<tr *ngFor="let p of Products">
  <ul>
      <li><img class="p1" src='{{p.Product_Image}}'></li>
      <li>PRODUCT NAME:{{p.Product_Name}}</li>
      <li>PRODUCT DETAILS:{{p.Product_Description}}</li>
      <li>COST:{{p.Product_Cost}}</li>
      <li><button [routerLink]="['productDetails/',p.Product_Id,p.Product_Cost]" class="btn btn-primary">BUY NOW</button></li>
  </ul>
</tr>
</table>
</body>