


<body>
<div class="container">
<input type="text" name="n" [(ngModel)]="inputS" #input (input)="searchProducts(input.value,Products)" id="searchProduct"  placeholder="Search Products.." >
</div>

<div class="card">
  <table>
    <tr *ngFor="let p of filteredList">
      <td>
        <div>
          <img class="p1" src='{{p.Product_Image}}'>
        </div>
      </td>
      <td>
        <div>
          <p>PRODUCT NAME:{{p.Product_Name}}</p>
          <p>PRODUCT DETAILS:{{p.Product_Description}}</p>
          <p>COST:{{p.Product_Cost}}</p>
          <button [routerLink]="['productDetails/',p.Product_Id,p.Product_Cost]" class="btn btn-primary">BUY NOW</button>
        </div>
      </td>
    </tr>
  </table>
</div>


</body>