
header {
    background-color:white;
    padding: 30px;
    text-align: right;
  }

.down{
    text-align: center;
}
.p1{
    height: 200px;
    width: 200;
    float: left;
    color: cyan;
}

.p2{
    height: 200px;
    width: 200px;
    float: left;  
}

.p3{
    height: 200px;
    width: 200px;
    float: left;
}

table{
    border:1px solid black;
}

.btn{
    color: cyan;
}

