
    #btnone{
        font-size: 17px;  
        background-color: darkcyan;
        color: white; 
    }
    #container{
        text-align: center;
    }
    #text{
        text-align: left;
    }
    #u{
        text-align:left;
        text-decoration: underline;
    }
    img{
        height: 150px;
        width: 150px;
    }
    
  
table{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 0px;
}
td
{   
    padding:0 15px ;
}
.card{
    width: 80%;
    height: 100%;
    border-radius: 5px;
    margin:20px ;
    margin-top: 45px;
    
}
#txt{
    margin: 30px;
    bottom: 0;
    position: relative;
    color: white;
    
}
body{
    background-size: cover;
}

