        <nav class="topnav-right">
        <a [routerLink]="['/registerCustomer']" style="margin: 50px 20px 0 150px; color:white;text-decoration: none">Register</a>
        <a [routerLink]="['/login']" style="margin: 50px 20px 0 20px; color:white;text-decoration: none">Login</a>
       </nav>
    <table>
        <tr>
            <td>
        <div>
            <img class="p1" src='assets/1images.jpg'>
        </div>
            </td>
            <td>
                <div><p>PRODUCT NAME:Iphone</p>
                    <p>PRODUCT DETAILS:iPhone from Apple,colour SpaceGray,128gb space.</p>
                    <p>COST:58,999</p>
                    <button id="btnone">BUY NOW</button></div>
                
            </td>
        </tr>
        
    </table>
    
    <br>
    <br>
    <br>
    <div >
        <p id="text">ELIGIBILITY</p>
        <p id="u">Terms and Conditions</p>
        <p id="text">Charges for registration and EMI card details</p>
        </div>
    