nav{
    height:25px;
    width:100%;
    margin:20px auto;
    padding:20px 5px 20px 0;
    border:2px solid black;
    /* border-radius:10px; */
    background-color:rgb(13, 29, 43);
    }
    button{
        font-size: 20px;   
    }
    #container{
        text-align: center;
    }
    #text{
        text-align: left;
    }
    #u{
        text-align:left;
        text-decoration: underline;
    }
    img{
        height: 150px;
        width: 150px;
    }
    
    .topnav-right {
  
  text-align: right;
  text-transform: uppercase;
}
td
{
    padding:0 15px;
}