.loginfeilds{
    text-align: center;
}

#err{
    color:red;
}
body{
    background-size: 100%;
}

*[role="form"] {
    max-width: 430px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
    margin-top: 45px;
 }

 *[role="form"] h4 { 
    font-family: 'Open Sans' , sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #000000;
    margin-top: 5%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
 }