<body background="assets/bg1.jpg">

    <div class="container">
        <form [formGroup]="registerForm" (ngSubmit)="registerCustomer()" class="form-horizontal" role="form">
            <h2 style="text-align: center;">Registration</h2>
    
            
            <div class="form-group">
            <label class="col-sm-3 control-label">Name</label><br>
            <input type="text" formControlName="name" [(ngModel)]="customer.Customer_Name"class="form-control" autofocus>
            <div id="err" *ngIf="submitted && f.name.errors">
            <div *ngIf="f.name.errors.required">Name is required</div>
            </div></div>
    
            <div class="form-group">
                <label class="col-sm-3 control-label">Date of Birth</label>
                <div >
                    <input type="date" id="birthDate" class="form-control" formControlName="dob" [(ngModel)]="customer.Date_of_Birth">
                    <div id="err"  *ngIf="submitted && f.dob.errors">
                        <div *ngIf="f.dob.errors.required">Date of Birth is required</div>
                        </div>
                </div>
            </div>
            
    
            
            <div class="form-group">
                <label class="col-sm-3 control-label">Email Id*</label><br>
                <input type="text" formControlName="email" [(ngModel)]="customer.Email" class="form-control">
                <div id="err"  *ngIf="submitted && f.email.errors">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
            </div>
    
            
            <div class="form-group">
                <label class="col-sm-3 control-label">Phone No</label><br>
                <input type="text" formControlName="phone" [(ngModel)]="customer.Phone_No" class="form-control">
                <div id="err"  *ngIf="submitted && f.email.errors">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
            </div>
            
            
            <div class="form-group">
                <label class="col-sm-3 control-label">User Name</label><br>
                <input type="text" formControlName="username" [(ngModel)]="customer.Username" class="form-control" >
                <div id="err"  *ngIf="submitted && f.username.errors">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                    </div>
            </div>
    
            
            <div class="form-group">
            <label class="col-sm-3 control-label">Password</label><br>
                        <input type="password" formControlName="password" [(ngModel)]="customer.Passwords" class="form-control">
                        <div id="err"  *ngIf="submitted && f.username.errors">
                            <div *ngIf="f.username.errors.required">Username is required</div>
                        </div>
                        </div>
    
            <div class="form-group">
                <label for="password" class="col-sm-3 control-label">Confirm*</label>
                <div>
                    <input type="password" id="password" placeholder="Password" class="form-control">
                </div>
            </div>
    
    
            <div class="form-group">
                <label class="col-sm-3 control-label">Address</label><br>
            <textarea cols="78"  formControlName="address" [(ngModel)]="customer.Address"></textarea>
            <div id="err"  *ngIf="submitted && f.address.errors">
                <div *ngIf="f.address.errors.required">Address is required</div>
            </div>
    
            </div>
        
        
            <div class="form-group">
           <label class="col-sm-3 control-label">Card Type</label>
            <input style="width:20px;" type="radio" value="Gold" class="input" formControlName="cardtype" [(ngModel)]="customer.Card_Type">Gold
            <input type="radio" value="Titanium" class="input" formControlName="cardtype" [(ngModel)]="customer.Card_Type">Titanium
            <div id="err"  *ngIf="submitted && f.cardtype.errors">
                <div *ngIf="f.cardtype.errors.required">Password is required</div>
            </div></div>
    
            
            <div class="form-group">
            <label class="col-sm-3 control-label">Select Bank</label>
                <select  formControlName="banks" [(ngModel)]="customer.Select_Bank" class="form-control">
                <option value="HSBC Bank">HSBC Bank</option>
                <option value="State Bank of India">State Bank of India</option>
                <option value="City Bank">City Bank</option>
                <option value="Axis Bank">Axis Bank</option>
                <option value="HDFC Bank">HDFC Bank</option>
              </select>
              <div id="err"  *ngIf="submitted && f.banks.errors">
                <div *ngIf="f.banks.errors.required">Password is required</div>
            </div>
        
            
            <div class="form-group">
            <label class="col-sm-3 control-label">Account No:</label><br>
            <input type="text" formControlName="accountno" [(ngModel)]="customer.Saving_Account_No" class="form-control">
            <div id="err"  *ngIf="submitted && f.accountno.errors">
                <div *ngIf="f.accountno.errors.required">Password is required</div>
            </div>
            </div>
    
            
            <div class="form-group">
            <label class="col-sm-3 control-label">IFSC code</label><br>
            <input type="text" formControlName="ifsc" [(ngModel)]="customer.IFSC_Code" class="form-control">
            <div id="err"  *ngIf="submitted && f.accountno.errors">
                <div *ngIf="f.accountno.errors.required">Password is required</div>
            </div>
            </div>    
    
    
    
        
            </div> 
            <br>
            <div style="text-align: center; border: 0px;">
                <button type="submit" class="btn btn-primary btn-block">Register</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <br><button type="reset" (click)="onReset()">Reset</button>
    
            <p>Already a member?<a href="#">Login Here</a></p>
        </div>
        
    </form>
    </div>
    </body>